@media screen and (min-resolution: 192dpi)
  .border-1px
    &::after
      transform scaleY(.5)
@media screen and (min-resolution: 72dpi) and (max-resolution: 191dpi)
  .border-1px
    &::after
      transform scaleY(.7)

